<tr>
  <td><%= message.title %></td>
  <td><%= message.text %></td>
  <td>Tags: <%= message.tag_names %></td>
  <% if options %>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, confirm: 'Are you sure?', method: :delete %></td>
  <% end %>
</tr>